{% extends '::base.html.twig' %}

{% block headTitle %}{{ titulo }}{% endblock %}

{% block body %}
    <div class="color-letra">
    {{ form(form) }}
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}