
<div class="rounded-box margin-bottom-md">
    <h3>Ultimos comentarios</h3>
{% for comentario in comentarios %}
    {% include ':comentario:mostrar-comentario-sin-fecha.html.twig' with {'comentario': comentario} %}
{% endfor %}
 </div>