{% extends '::base.html.twig' %}

{% block headTitle %}{{ titulo }}{% endblock %}

{% block body %}
    <span class="color-letra">
    {{ form(form) }}
    </span>
{% endblock %}

{% block sidebar %}{% endblock %}