
{% extends '::base.html.twig' %}

{% block headTitle %}{{ titulo }}{% endblock %}

{% block body %}
    {% for publicacion in publicaciones %}
        <span id="{{ publicacion.id }}">
        {% include ':publicacion:publicacion_contenido.html.twig' %}
        </span>
    {% endfor %}
    {% if not doPagination is defined %}
        <div class="navigation">
            {{ knp_pagination_render(publicaciones) }}
        </div>
    {% endif %}
{% endblock %}