.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

.comentarios-sidebar{
    overflow: hidden; /*corta lo que se pasa de la caja*/
    white-space: nowrap; /*comentario en una sola línea*/
    text-overflow: ellipsis; /*pone 3 puntos*/
}

@media (min-width: 768px){
    .navbar{
    border-radius: 0px;
    }
}

.navbar-nav{
    margin: 0px!important;

}

@media (max-width: 768px){
    .botoneslogin{
        margin-left: 65px;
    }
    .botoneslogin2{
        margin-left: 30px;
    }

    .botonadmin{
        margin-left:157px!important;
        margin-top: -42px!important;
        float:left!important;
    }
}

.botonadmin{
    margin-left:1px;
    margin-top: 8px;
    float:left;
}