.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

.comentarios-sidebar{
    overflow: hidden; /*corta lo que se pasa de la caja*/
    white-space: nowrap; /*comentario en una sola línea*/
    text-overflow: ellipsis; /*pone 3 puntos*/
}