{% extends '::base.html.twig' %}

{% block headTitle %}<span class="color-letra">Logros</span>{% endblock %}

{% block body %}
    <h1 class="color-letra">Logros</h1>
    <hr>

    {% for logro in logros %}
        <h3 class="color-letra">{{ logro.nombre }}</h3>
       <span class="color-letra"> {{ logro.descripcion }}</span>
    {% endfor %}


    <div class="navigation">
        {{ knp_pagination_render(logros) }}
    </div>
{% endblock %}