{% extends '::base.html.twig' %}

{% block headTitle %}Logros{% endblock %}

{% block body %}
    <h1>Logros</h1>
    <hr>

    {% for logro in logros %}
        <h3>{{ logro.nombre }}</h3>
        {{ logro.descripcion }}
    {% endfor %}


    <div class="navigation">
        {{ knp_pagination_render(logros) }}
    </div>
{% endblock %}